html { 
  opacity: 3.5;
  background: url(images/subs_background.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  font-family:'Courier';
}
#semone{
  text-align: center;
}
#sidebar {
  position: fixed;
  top:15px;
  left:-300px; 
  width:280px;
  height:65%;
  transition:all 280ms linear;
  background-color: #fbe8d3;;
  border-radius: 13%; 
  padding-left: 10px;
}
#sidebar.active {
  left:-35px;
}
#sidebar .toggle-btn {
  left:321px;
  position: absolute;
}
#sidebar .toggle-btn span {
  display:block;
  width:26px;
  height:4.5px;
  background: #151719;
  cursor:pointer;
  margin-bottom: 3px;
}
#sidebar div.list div.item {
  padding-bottom: 10px;
  padding-top:15px;
  color: #fbe8d3;
  text-transform:uppercase;
  font-size:22px;
  text-align: center;
  font-weight: 999;
}
#sideitems{
  color: black;
}
#sidefootericons{
  color: black;
  font-size: 1.4em;
  text-align: center;
  padding-top:10px;
  padding-bottom:5px;
  padding-left: -3em;
  padding-right: -3em;
  margin:0.6em 15px 0 15px; 
}
#nbu{
  background-color:#f4d47c ;
  color: black;
  font-size:25px; 
  border:3px solid black;
  border-radius: 12%;
  margin-left: 35px;
  margin-top: -31px;
  padding:0 0.2em 0 0.2em;
}
#navbar{
  padding-top: 15px;
 	color: #093145;
  	font-size: 2em;
    font-weight: 900;
  	text-align: center;
}
hr{
  border:2px solid black;
  border-radius: 50%;
}
#introicons{
  padding-top: 20px;
  	color: #3a4f75;
  	text-align: center;
  	font-size:2.5em;
}
a{
  color:black;
  	text-decoration: none;
}
#subtitle{
    color: #6495ED;
    font-size: 2em;
    font-family: 'Averia Serif Libre';
}
.far\fa-arrow-alt-circle-down{
    color: #800517;
    font-size: 1em;
}
#subs{
    color: #800517;
    font-weight: 999;
    font-family: New Tegomin;
    font-size: 1.4em;
}
#aboutus{
  font-weight: 999;
  font-size:27px;
  text-align: center;
}
div #aboutpara{
  color:darkgreen;
  font-size: 18px;
}
footer{
  background-color: black;
  color: #fbe8d3;
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom:3px;
  border-radius: 30%;
  font-family: Courier Prime; 
}
#footicons a{
  color:#fbe8d3;
} 
#footicons{
  padding-top: 10px;
  font-size: 22px;
  text-align: center;
}
#footericons{
  margin-left: 10px;
}