html { 
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  font-family:'Courier';
}
#fybca{
  text-align: center; 
}
#sidebar {
  position:absolute;
  top:15px;
  left:-300px; 
  width:280px;
  height:75%;
  transition:all 300ms linear;
  background-image: url("images/sidebarbg.jpg");
  background-size: 300%;
  border-radius: 13%; 
  padding-left: 10px;
}
#sidebar.active {
  left:-35px;
}
#sidebar .toggle-btn {
  left:321px;
  position: absolute;
}
#sidebar .toggle-btn span {
  display:block;
  width:26px;
  height:4.5px;
  background: #151719;
  cursor:pointer;
  margin-bottom: 3px;
}
#sidebar div.list div.item {
  padding-bottom: 10px;
  padding-top:15px;
  color: black;
  text-transform:uppercase;
  font-size:22px;
  text-align: center;
  font-weight: 999;
}
#sideitems{
  color: black;
}
#sidefootericons{
  color: black;
  font-size: 1.4em;
  text-align: center;
  padding-top:10px;
  padding-bottom:5px;
  padding-left: -3em;
  padding-right: -3em;
  margin:2.8em 15px 0 15px; 
}
#nm{
  background-color:#f4d47c ;
  color: black;
  font-size:25px; 
  border:3px solid black;
  border-radius: 12%;
  margin-left: 35px;
  margin-top: -31px;
  padding:0 0.2em 0 0.2em;
}
#navbar{
  padding-top: 15px;
 	color: #093145;
  	font-size: 2em;
    font-weight: 900;
  	text-align: center;
}
#introicons{
  padding-top: 20px;
  	color: #3a4f75;
  	text-align: center;
  	font-size:2.5em;
}
a{
    color:black;
  	text-decoration: none;
}
p{
  font-weight: 999;
  	text-align: center;
  	color:green;
  	font-size: 1.2em;
  	font-family: Courier;
}
#bookicon{
  	font-size:1em;
  	color:#F26D21;
  	text-align: justify-all;
}
#icons{
  	color: #323954;
  	font-size: 1.4em;
}
#syllabi{
  	font-size: 2em;
  	font-family: New Tegomin;
    color: #F26D21;
}
#subtitle{
  	color:  #9A2617;
  	font-size: 2em;
}
#subs{
  	color: #2b2e4a;
    font-weight: 999;
    font-family: 'Averia Serif Libre';
  	font-size: 1.4em;
}
hr{
	border:2px solid black;
	border-radius: 50%;
}
#aboutus{
  font-weight: 999;
  font-size:27px;
  text-align: center;
}
div #aboutpara{
  font-size: 18px;
}
footer{
  background-color: black;
  color: #fbe8d3;
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom:3px;
  border-radius: 30%;
  font-family: Courier Prime; 
}

#footicons{
  padding-top: 10px;
  font-size: 22px;
  text-align: center;
}
#footericons{
  margin-left: 10px;
}

