html{
  background:
        linear-gradient(to top right,royalblue,transparent),
        linear-gradient(to bottom left,#FFE87C,transparent);
  background-blend-mode: screen;
}
body{
  font-family: Courier ;
}
#fybca{
  text-align: center; 
}
#sidebar {
  position: fixed;
  top:15px;
  left:-300px;
  width:280px;
  height:65%;
  transition:all 260ms ease;
  background:
        linear-gradient(orange,lightgreen,lightblue);
  border-radius: 13%; 
  padding-left: 10px;
}
#sidebar.active {
  left:-35px;
}
#sidebar .toggle-btn {
  left:321px;
  position: absolute;
}
#sidebar .toggle-btn span {
  display:block;
  width:26px;
  height:4.5px;
  background: #151719;
  cursor:pointer;
  margin-bottom: 3px;
}
#sidebar div.list div.item {
  padding-bottom: 10px;
  padding-top:15px;
  color: #fbe8d3;
  text-transform:uppercase;
  font-size:22px;
  text-align: center;
  font-weight: 999;
}
#sideitems{
  color: black;
}
#sidefootericons{
  color: black;
  font-size: 1.4em;
  text-align: center;
  padding-top:10px;
  padding-bottom:5px;
  padding-left: -3em;
  padding-right: -3em;
  margin:0.6em 15px 0 15px; 
}
#nm{
  background-color:#f4d47c ;
  color: black;
  font-size:25px; 
  border:3px solid black;
  border-radius: 12%;
  margin-left: 35px;
  margin-top: -31px;
  padding:0 0.2em 0 0.2em;
}
#navbar{
  padding-top: 15px;
 	color: #093145;
  	font-size: 2em;
    font-weight: 900;
  	text-align: center;
}
#introicons{
  padding-top: 20px;
  	color: #3a4f75;
  	text-align: center;
  	font-size:2.5em;
}
a{
    color:black;
  	text-decoration: none;
}
p{
  font-weight: 999;
  	text-align: center;
  	color:green;
  	font-size: 1.2em;
  	font-family: Courier;
}
#bookicon{
  	font-size:1em;
  	color:#F26D21;
  	text-align: justify-all;
}
#icons{
  	color: #151B54;
  	font-size: 1.4em;
}
#syllabi{
  	font-size: 2em;
  	font-family: New Tegomin;
    color: #F26D21;
}
#subtitle{
  	color:  #9A2617;
  	font-size: 2em;
}
#subs{
  	color: #151B54;
    font-weight: 999;
    font-family: 'Averia Serif Libre';
  	font-size: 1.4em;
}
hr{
	border:2px solid black;
	border-radius: 50%;
}
#aboutus{
  font-weight: 999;
  font-size: 2em;
  text-align: center;
}
#yash{
  border:1px black solid;
  border-radius: 10%;
  text-align: center;
  margin-top:5%;
  margin-bottom:10%;
  padding:2% 2%;
  box-shadow:5px 3px;
}
#harsh{
  border:1px black solid;
  border-radius: 10%;
  text-align: center;
  margin-top:5%;
  margin-bottom:10%;
  padding:2% 2%;
  box-shadow: 3px 3px;
}
#abhi{  
  border:1px black solid;
  border-radius: 10%;
  text-align: center;
  margin-top:5%;
  margin-bottom:10%;
  padding:2% 2%;
  box-shadow:5px 3px;
}
#creatorsimg{
  height:110px;
  width: 120px;
  border:1px solid black;
  background-image: url("images/userpic.jpg");
  background-size: 100%;
  border-radius: 50%;
  text-align: center;
}
#creatorsicon{
  color:black;
  text-align: center;
  font-size: 1.5em;
}
#maintag{
  font-size: 1.8em;
  text-align: center;
}
#creatorstag{
  text-align:right;
  font-size: 1.3em;
  margin-top: 10px;
  font-weight: bold;
}
#creatorsnm{
  font-size: 1.5em;
  margin-left: 20px;
  margin-top: -5em;
  font-weight: 999;
  text-align: right;
}
footer{
  background-color: black;
  color: #fbe8d3;
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom:3px;
  border-radius: 30%;
  font-family: Courier Prime; 
}
#footicons a{
  color:#fbe8d3;
} 
#footicons{
  padding-top: 10px;
  font-size: 22px;
  text-align: center;
}
#footericons{
  margin-left: 10px;
}