html{
  background:
        linear-gradient(to top right,lightblue,transparent),
        linear-gradient(to bottom left,white,transparent);
  background-blend-mode: screen;
}
body{
  font-family: Courier ;
}
#fybca{
  text-align: center; 
}
#sidebar {
  position:fixed;
  top: -0.2em;
  right:100%;
  width:105%;
  height:105%;
  padding-top: 5%;
  transition:all 260ms ease;
  background-color: #F0F8FF;
  opacity:0.92;
}
#sidebar.active {
  right:0.01%;
}
#sidebar .toggle-btn {
  left:87%;
  position:fixed;
  cursor: pointer;
  display: block;
}
#sidebar .toggle-btn span {
  display:block;
  width:26px;
  height:4.5px;
  background: #151719;
  cursor: pointer;
  margin-bottom: 3px;
  transition: all 1s ease-in-out;
}
#sidebar div.list{
  padding-top:25%;
}
#sidebar div.list div.item {
  padding-bottom: 12px;
  padding-top:12px;
  color: #fbe8d3;
  text-transform:uppercase;
  font-size:1.6em;
  text-align:center;
  font-weight: 999;
}
#sideitems{
  color: black;
}
#sidefootericons{
  color: black;
  font-size: 1.6em;
  text-align: center;
  padding-top:5px;
  padding-bottom:15px;
  padding-left: -3em;
  padding-right: -3em;
  margin:0.6em 15px 0 15px; 
}
#nbu{
  background-color:#f4d47c ;
  color: black;
  font-size:25px; 
  border:3px solid black;
  border-radius: 12%;
  padding-left: 1%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;

}
#navbar{
 	color: #093145;
  	font-size: 2em;
    font-weight: 900;
  	text-align: center;
}
#introicons{
  padding-top: 20px;
  	color: #3a4f75;
  	text-align: center;
  	font-size:2.5em;
}
a{
    color:black;
  	text-decoration: none;
}
p{
  font-weight: 999;
  	text-align: center;
  	color:green;
  	font-size: 1.2em;
  	font-family: Courier;
}
#syllabicon{
  	font-size:1em;
  	color:#F26D21;
  	text-align: justify-all;
}
#icons{
  	color: #151B54;
  	font-size: 1.4em;
}
#syllabi{
  	font-size: 2em;
  	font-family: New Tegomin;
    color: #F26D21;
}
#subtitle{
  	color: maroon;
  	font-size: 1.8em;
}
#subs{
  	color: #151B54;
    font-weight: 999;
    font-family: 'Averia Serif Libre';
  	font-size: 1.4em;
}
hr{
	border:2px solid black;
	border-radius: 50%;
}
#aboutus{
  font-weight: 999;
  font-size: 2em;
  text-align: center;
}
#devs{
  border:1px black solid;
  border-radius: 10%;
  text-align: center;
  margin-top:5%;
  margin-bottom:5%;
  padding:2% 2%;
  box-shadow:5px 3px;
}
#creatorsimg{
  height:110px;
  width: 120px;
  border:1px solid black;
  background-image: url("images/userpic.jpg");
  background-size: 100%;
  border-radius: 50%;
  text-align: center;
}
#creatorsicon{
  color:black;
  text-align: center;
  font-size: 1.2em;
}
#maintag{
  font-size: 1.4em;
  text-align: center;
}
#creatorstag{
  text-align:right;
  font-size: 1em;
  margin-top: 10px;
  font-weight: bold;
}
#creatorsnm{
  font-size: 1.3em;
  margin-left: 20px;
  margin-top: -5em;
  font-weight: 999;
  text-align: right;
}
#mailto{
  left:50%;
  right:50%;
}
footer{
  background-color: black;
  color: #fbe8d3;
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom:3px;
  border-radius: 30%;
  font-family: Courier Prime; 
}
#footicons a{
  color:#fbe8d3;
} 
#footicons{
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
}
#footericons{
  margin-left: 10px;
}