@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

/* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}*/

.sidebar {
  position: fixed;
  width: 55%;
  left: -55%;
  height: 100%;
  background: #1e1e1e;
  transition: all .5s ease;
  z-index: 9;
  margin-top:-2%;
}

.sidebar header {
  font-size: 2em;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Averia Serif Libre';
}

.sidebar #sidelinks {
  display: block;
  height: 10%;
  width: 100%;
  color: white;
  font-size: 1em;
  line-height: 60px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-left: 5px solid transparent;
  font-family: 'Averia Serif Libre';
  transition: all .5s ease;
}

#sidelinks:hover {
  border-left: 5px solid #b93632;
  color: #b93632;
  font-size: 1.2em;
}

.sidebar #sidelinks i {
  font-size: 1.4em;
  margin-right: .5em;
}

.sidebar #sidelinks span {
  letter-spacing: 2px;
  text-transform: uppercase;
}

#check {
  display: none;
}

label #btn{
  color: white;
  background: #262626;
  font-size: 2em;
  height: 1em;
  width: 1.2em;
  text-align: center;
  position: absolute;
  cursor: pointer;
  margin: 1.5% 0 0 84%;
  border-radius: 15%;
  border: 1px solid #262626;
  line-height: 1em;
  transition: all .5s ease;
}

label #cancel {
  position: fixed;
  cursor: pointer;
  color: black;
  font-size: 1.8em;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
}

#check:checked~.sidebar {
  left: 0;
}

#check:checked~label #btn{ 
  visibility: hidden;
}

#check:checked~label #cancel {
  position: absolute;
  margin: 1% 0 0 90%;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 9;
}

.sidebar_icons{
  color: white;
  font-size: 1.2em;
  text-align: center;
  margin: 10% 0 0 0;
}

.side_icons{
  color:white;
  margin: 0 2%;
}

.side_icons:hover{
  color: red;
  font-size: 1.4em;
  transition: all 0.5s ease;
}




/*
@media(max-width : 860px) {
  .sidebar {
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }

  header,
  #btn,
  #cancel {
    display: none;
  }

  span {
    position: absolute;
    margin-left: 2px;
    opacity: 0;
    visibility: visible;
    text-align: left;
    padding-right: 5px;
    border-radius: 0 30% 30% 0;
  }

  .sidebar a {
    height: 60px;
  }

  .sidebar a i {
    margin-left: -10px;
  }

  a:hover {
    width: 200px;
    background: inherit;
  }

  .sidebar a:hover span {
    opacity: 1;
    visibility: visible;
    background: inherit;
    transition: all .03s ease-in-out;
  }

  .sidebar_icons{
    display: block;
    visibility: hidden;
  }
}*/